@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");

:root {
  font-size: 16px;
  font-family: "Cabin";
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #232323;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
  --color-one: #7f00ff;
  --color-two: #e100ff;
}

body {
  color: var(--text-secondary);
  background-color: #343439;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

main {
  margin-left: 5rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-primary) inset !important;
  -webkit-text-fill-color: var(--text-primary) !important;
}

.navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 0.6s ease;
  z-index: 3;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-item:last-child {
  margin-top: auto;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  font-size: 1.5rem;
  display: none;
  margin-left: 1rem;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.logo svg {
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

.boards {
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.topbar {
  width: 90%;
  height: 5rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
}

.topbar .page-title {
  margin: 1rem;
}

.topbar .page-title-text {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: var(--text-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
}

.filter {
  margin: 1rem;
  margin-top: 1rem;
  margin-left: auto;
}

.filter-btn {
  font-size: 1.5rem;
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid var(--text-secondary);
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: var(--text-secondary);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.filter-btn:hover {
  color: var(--bg-secondary);
  background-color: var(--text-secondary);
}

.user{
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  background: #1c1c1c;
}

.user-img{
  width: 50px;
  height: 50px;
  margin-left: 1rem;
  border-radius: 1rem;
}


/*Card Styles*/

.card {
  width: 350px;
  height: 250px;
  color: var(--text-secondary);
  background: linear-gradient(var(--bg-primary), var(--bg-secondary));
  box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin: 1.5rem;
}

.card h1 {
  text-align: center;
}

.general {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.card .additional {
  position: absolute;
  width: 50px;
  height: 100%;
  transition: width 0.6s;
  overflow: hidden;
  z-index: 2;
}

.card:hover .additional {
  width: 100%;
  border-radius: 0 5px 5px 0;
}

.card .additional {
  width: 50px;
  height: 100%;
  position: relative;
  float: left;
}

.card .additional::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: -2px;
  height: 80%;
  border-left: 2px solid rgba(0, 0, 0, 0.025);
}

.card .additional .more-info {
  width: 300px;
  float: left;
  position: absolute;
  left: 30px;
  height: 100%;
}

.card .additional .more-info h1 {
  color: #000;
  margin-bottom: 0;
}

.card .additional .coords {
  margin: 1rem 1rem;
  color: #000;
  font-size: 1rem;
  text-align: center;
}

.card .additional .stats {
  font-size: 2rem;
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  top: auto;
  color: #000;
}

.card .additional .stats > div {
  flex: 1;
  text-align: center;
}

.card .additional .stats i {
  display: block;
}

.card .additional .stats div.title {
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}

.card .additional .stats div.value {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.5rem;
}

.card .general {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  box-sizing: border-box;
  padding: 1rem;
  padding-top: 0;
}

.new-board {
  border:  2px solid rgba(255, 255, 255, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  color: rgba(255, 255, 255, 0.4);
  border-style: dashed;
}


.input-field {
  background: #232323;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 8px;
  color: #b6b6b6;
  width: 80%;
  height: 25px;
  padding: 12px 15px;
  margin: 5px 0;
}

.input-field.textarea {
  height: 65px;
}

.input-field .svg-container.start {
  margin: 5px;
  padding: 5px;
  color: #b6b6b6;
}

.input-field input {
  margin-right: auto;
  background: #232323;
  border: none;
  color: #b6b6b6;
  width: 100%;
}

.input-field textarea {
  margin-right: auto;
  background: #232323;
  border: none;
  color: #b6b6b6;
  width: 100%;
  height: 65px;
  resize: none;
}

.input-field input:focus {
  outline: none;
  color: inherit;
  background: inherit;
}

.input-field textarea:focus {
  outline: none;
  color: inherit;
  background: inherit;
}


.add-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

button {
  border-radius: 20px;
  border: 1px solid var(--color-one);
  background-color: var(--color-one);
  color: #000000;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  margin: 0 10px;
  margin-top: 10px;
}



button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

.button-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



/* Small screens */
@media only screen and (max-width: 600px) {
  .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0 0 5rem 0;
  }

  .boards {
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
  }

  .filter-btn-text {
    display: none;
  }

  .card .additional {
    width: 30px;
    font-size: 0.75rem;
  }

  .card .general {
    width: 250px;
  }
  .card {
    width: 280px;
    height: 200px;
  }

  .card .additional .more-info {
    left: 0px;
  }
  .user{
    background-color: var(--bg-primary)
  }

  .card:hover .additional {
    width: 30px;
    border-radius: 0 5px 5px 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
    transition:all 0.6s;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
}
